1. abrir o documento de microdados
2. verificar todos os tipos de atributos/ ver todas as colunas
3. deletar as colunas que não serão úteis
4. corrigir o erro no número de casas nas notas (usar loc e dividir por 10)
5. renomear as colunas para ficar mais fácil de chamá-las (.replace)
6. renomear as linhas para entender as informações (.replaced)
7. excluir os menores de 11 anos (selecionando apenas os maiores de 11 anos)
8. excluir os treineiros (.loc)
9. selecionar apenas os que tiveram presença nos 2 dias
10. salvar a tabela tratada

1. abrir o documento de microdados

In [1]:
import pandas as pd
import numpy as np

In [7]:
microdadossp = pd.read_csv('/content/microdados_enem_2019_sp.csv', sep=';', encoding='iso-8859-1')

In [8]:
microdadossp.head()

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,35,SP,22,M,1,3,1,...,6002.0,0.0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,35,SP,19,M,1,3,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,3,1,...,7318.0,0.0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,35,SP,19,M,1,3,1,...,3932.0,1.0,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,35,SP,37,M,2,1,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

2. verificar todos os tipos de atributos/ ver todas as colunas

In [12]:
microdadossp.dtypes

NU_INSCRICAO                object
CO_MUNICIPIO_RESIDENCIA      int64
NO_MUNICIPIO_RESIDENCIA     object
CO_UF_RESIDENCIA             int64
SG_UF_RESIDENCIA            object
NU_IDADE                     int64
TP_SEXO                     object
TP_ESTADO_CIVIL              int64
TP_COR_RACA                  int64
TP_NACIONALIDADE             int64
CO_MUNICIPIO_NASCIMENTO    float64
NO_MUNICIPIO_NASCIMENTO     object
CO_UF_NASCIMENTO           float64
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO            float64
TP_ANO_CONCLUIU            float64
TP_ESCOLA                  float64
TP_ENSINO                  float64
IN_TREINEIRO               float64
CO_ESCOLA                  float64
CO_MUNICIPIO_ESC           float64
NO_MUNICIPIO_ESC            object
CO_UF_ESC                  float64
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC     float64
TP_LOCALIZACAO_ESC         float64
TP_SIT_FUNC_ESC            float64
TP_PRESENCA_CN             float64
TP_PRESENCA_CH             float64
TP_PRESENCA_LC             float64
TP_PRESENCA_MT             float64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                  float64
TP_STATUS_REDACAO          float64
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Q025                        object
dtype: object

3. deletar as colunas que não serão úteis

In [14]:
dados = microdadossp.drop(columns=['CO_MUNICIPIO_RESIDENCIA','CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
                           'CO_MUNICIPIO_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ANO_CONCLUIU',
                           'TP_ENSINO', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
                                   'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC'])

4.corrigir o erro no número de casas nas notas (usar loc e dividir por 10)

In [21]:
dados.loc[:,'NU_NOTA_CN'] /=10
dados.loc[:,'NU_NOTA_CH'] /=10
dados.loc[:,'NU_NOTA_LC'] /=10
dados.loc[:,'NU_NOTA_MT'] /=10
#os dois pontos indica todas as linhas da tabela

5.renomear as colunas para ficar mais fácil de chamá-las (.rename)

In [28]:
dadosenem = dados.rename(columns = {'NU_NOTA_CN': 'NOTA_CN','NU_NOTA_CH': 'NOTA_CH',
                                    'NU_NOTA_LC': 'NOTA_LC','NU_NOTA_MT': 'NOTA_MT',
                                    'CO_ESCOLA': 'ESCOLA','NU_IDADE': 'IDADE',
                                    'TP_SEXO': 'SEXO', 'TP_COR_RACA': 'RACA',
                                    'Q025': 'INTERNET'})

In [29]:
dadosenem.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,3,1,Santa Izabel do Pará,15.0,1.0,...,600.2,0.0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,19,M,1,3,1,Jacundá,15.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,17,F,1,3,1,Belém,15.0,2.0,...,731.8,0.0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,19,M,1,3,1,São Bernardo do Campo,35.0,2.0,...,393.2,1.0,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,37,M,2,1,1,São Joaquim da Barra,35.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [31]:
dadosenem['RACA'] = dadosenem['RACA'].replace({0:"não declarado", 1:"branco", 2: "preto", 3: "pardo", 4: "amarelo", 5: "indigena"})

In [33]:
dadosenem['TP_LINGUA'] = dadosenem['TP_LINGUA'].replace([0,1], ["inglês", "espanhol"])

In [34]:
dadosenem['ESCOLA'] = dadosenem['ESCOLA'].replace([1,2,3,4], ["não respondeu","publica","privada","exterior"])

In [36]:
dadosenem['INTERNET'] = dadosenem['INTERNET'].replace(["A","B"], ["NÃO", "SIM"])

In [37]:
dadosenem.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,pardo,1,Santa Izabel do Pará,15.0,1.0,...,600.2,inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,SIM
1,"1,90E+11",Pinhalzinho,19,M,1,pardo,1,Jacundá,15.0,1.0,...,NaN,espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NÃO
2,"1,90E+11",São Paulo,17,F,1,pardo,1,Belém,15.0,2.0,...,731.8,inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,NÃO
3,"1,90E+11",São Bernardo do Campo,19,M,1,pardo,1,São Bernardo do Campo,35.0,2.0,...,393.2,espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,SIM
4,"1,90E+11",São Joaquim da Barra,37,M,2,branco,1,São Joaquim da Barra,35.0,1.0,...,NaN,espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SIM

7.verificar as idades e excluir os menores de 11 anos (selecionando apenas os maiores de 11 anos)

In [40]:
dadosenem['IDADE'].value_counts()

17    39391
18    26099
19    12972
20     8098
16     5683
      ...
77        1
66        1
13        1
76        1
12        1
Name: IDADE, Length: 67, dtype: int64

In [41]:
dadosenem['IDADE'].value_counts().sort_index()

8       1
12      1
13      1
14     31
15    703
     ...
73      2
75      2
76      1
77      1
79      1
Name: IDADE, Length: 67, dtype: int64

In [42]:
dadosmaioresde11 = dadosenem.loc[dadosenem.IDADE >11]

In [43]:
dadosmaioresde11.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,pardo,1,Santa Izabel do Pará,15.0,1.0,...,600.2,inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,SIM
1,"1,90E+11",Pinhalzinho,19,M,1,pardo,1,Jacundá,15.0,1.0,...,NaN,espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NÃO
2,"1,90E+11",São Paulo,17,F,1,pardo,1,Belém,15.0,2.0,...,731.8,inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,NÃO
3,"1,90E+11",São Bernardo do Campo,19,M,1,pardo,1,São Bernardo do Campo,35.0,2.0,...,393.2,espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,SIM
4,"1,90E+11",São Joaquim da Barra,37,M,2,branco,1,São Joaquim da Barra,35.0,1.0,...,NaN,espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SIM

8.excluir os treineiros (.loc)

In [44]:
vestibulandos = dadosmaioresde11.loc[dadosmaioresde11.IN_TREINEIRO ==0]

9.selecionar apenas os que tiveram presença nos 2 dias

In [45]:
vestibulandos['TP_PRESENCA_CN'].value_counts()

1.0    87382
0.0    31557
2.0       36
Name: TP_PRESENCA_CN, dtype: int64

In [49]:
vestibulandos['TP_PRESENCA_CH'].value_counts()

1.0    92474
0.0    26400
2.0      101
Name: TP_PRESENCA_CH, dtype: int64

In [47]:
vestibulandos['TP_PRESENCA_MT'].value_counts()

1.0    87382
0.0    31557
2.0       36
Name: TP_PRESENCA_MT, dtype: int64

In [48]:
vestibulandos['TP_PRESENCA_LC'].value_counts()

1.0    92474
0.0    26400
2.0      101
Name: TP_PRESENCA_LC, dtype: int64

In [50]:
vestibulandos_classificados = vestibulandos.loc[vestibulandos.TP_PRESENCA_LC ==1]

In [51]:
vestibulandos_classificados = vestibulandos_classificados.loc[vestibulandos_classificados.TP_PRESENCA_MT ==1]

10.salvar a tabela tratada

In [52]:
vestibulandos_classificados = vestibulandos_classificados.drop(columns=['IN_TREINEIRO'])

In [53]:
#nome da tabela o formato (nome do arquivo, codifica, index-False para não salvar o índice junto '0,1,2,3,4...')
vestibulandos_classificados.to_csv('enem_2019_tratado.csv', encoding = 'iso-8859-1', index=False)